<template>
    <app-layout>
       <template #header>
         <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Editar Curso
         </h2>
       </template> 

       <div class="py-12">
            <div class="mx-w-7xl mx-auto sm:px-6 lg:px-8">
                <jet-form-section @submitted ="actualizarCurso">
                    <template #title>
                        Actualizar Información
                    </template>
                    <template #description>
                        Actualizar Curso
                    </template>
               <template #form>
                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="nom_curso" value="Curso" />
                            <jet-input 
                            id="nom_curso"
                            type="text"
                            class="mt-1 block w-full"
                            v-model="form.nom_curso"
                            autocomplete="nom_curso" />
                            <jet-input-error :message="form.errors.nom_curso" class="mt-2" />
                        </div>
                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="alumnos_id_alumno" value="Curso" />
                            <jet-input 
                            id="alumnos_id_alumno"
                            type="text"
                            class="mt-1 block w-full"
                            v-model="form.alumnos_id_alumno"
                            autocomplete="alumnos_id_alumno" />
                            <jet-input-error :message="form.errors.alumnos_id_alumno" class="mt-2" />
                        </div>
                    </template>

                    <template #actions>
                        <jet-action-message
                        :on="form.recentlySuccessful"
                        class="mr-3">
                        Registro Actualizado
                        </jet-action-message>
                        <jet-button 
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing">
                            Actualizar
                        </jet-button>
                    </template>
                </jet-form-section>                       
            </div>
       </div> 
    </app-layout>
</template>

<script>
import { useForm } from "@inertiajs/inertia-vue3";
import AppLayout from "../../Layouts/AppLayout.vue";
import Welcome from "../Welcome.vue";
import JetButton from "../../Jetstream/Button.vue";
import JetFormSection from "../../Jetstream/FormSection.vue";
import JetInput from "../../Jetstream/Input.vue";   
import JetInputError from "../../Jetstream/InputError.vue";
import JetLabel from "../../Jetstream/Label.vue";
import JetActionMessage from "../../Jetstream/ActionMessage.vue";
import JetSecondaryButton from "../../Jetstream/SecondaryButton.vue";

export default {
    components: {
        AppLayout,
        Welcome,
        JetActionMessage,
        JetButton,
        JetFormSection,
        JetInput,
        JetInputError,
        JetLabel,
        JetSecondaryButton,
    },

    props: {
        cursos: Object,
    },

    mounted() {
        console.log(this.cursos);
    },

    setup(props){
        const form = useForm({
           _method: "PUT",
           id_curso: props.cursos.id_curso,
           nom_curso: props.cursos.nom_curso,
           alumnos_id_alumno: props.cursos.alumnos_id_alumno
        }); 

        const actualizarCurso = () =>{
            form.post(route('cursos.update', props.cursos.id_curso), {
                preserveScroll: true,
            });
        };

        return {form, actualizarCurso};
    },
};
</script>
