<template>
  <app-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Listado de Cursos
        <Link :href="route('cursos.create')" class="float-right">
          <jet-button>Nuevo curso</jet-button>
        </Link>
      </h2>
    </template>
     <div class="py-12">
        <div class="mx-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col"
                                             class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                             ID
                                             </th>
                                             <th scope="col"
                                             class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                             CURSO
                                             </th>
                                             <th scope="col"
                                             class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                             Alumno
                                             </th>
                                             <th scope="col"
                                             class="relative px-6 py-3">
                                             <span class="sr-only">Acciones</span>
                                             </th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        <tr v-for="curso in cursos" :key="curso.id_curso">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ curso.id_curso }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ curso.nom_curso }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{curso.alumnos_id_alumno}}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                                <Link 
                                                :href="route('cursos.edit', curso.id_curso)" 
                                                class="text-indigo-600 hover:text-indigo-900">
                                                    Editar
                                                </Link>
                                                <button @click="eliminarCurso(curso)"
                                                 class="ml-2 text-indigo-600 hover:text-indigo-900">
                                                    Eliminar
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div> 
  </app-layout>
</template>

<script>
import { Link } from "@inertiajs/inertia-vue3";
import AppLayout from "../../Layouts/AppLayout.vue";
import Welcome from "../Welcome.vue";
import JetButton from "../../Jetstream/Button.vue";
import { Inertia } from "@inertiajs/inertia"; 

export default {
  components: {
    AppLayout,
    Welcome,
    JetButton,
    Link,
  },

   props: {
        cursos: Array,
    
    },

    setup(props){
        const eliminarCurso = (data) =>{
            data._method = "DELETE";
            Inertia.post("/cursos/" + data.id_curso, data);
        };

        return { eliminarCurso };
    }, 
};
</script>


